



$font-family-sans-serif: 'AvenirNextLTPro-Regular', Helvetica Neue, Helvetica, Arial, sans-serif !default;
$transition-base: all .2s ease-in-out !default;

//colors found on the site
:root {
  --white: #ffffff;
  --dark-teal: #027588;
  --orange: #EE7B3F;
  --light-teal: #00A19B;
  --dirty-yellow: #FABA44;
  --black: #1D1E1C;
  --night-blue: #25494F;
  --light-grey: #7b7b7b;
  --alabaster: #f9f9f9;

  --skin-header-bg: #ffffff;
  --skin-header-fg: #222222;
  --skin-content-bg:#FAFCFE;



  --sw-dark-blue:#005984;
  --sw-gray-text:	#676767;
  --sw-light-green: #b0d8a4;
  --sw-light-yellow: #fee191;
  --sw-light-red: #ec6969;

}
